

 


















  




























  








 


































 






















































































.files-demo-card-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.files-demo-demo-stack {
  @include flex-column(24px);
}

.files-demo-file-icon-blue {
  margin-right: 6px;
  color: var(--info-color);
}

.files-demo-breadcrumb-demo {
  margin-bottom: 12px;
}
