@use '@/styles/mixins' as *;

 


















  




























  








 


































 






















































































.filter-bar-filter-bar {
  margin-bottom: 16px;
}

.filter-bar-breadcrumb {
  margin-bottom: 12px;
}

.filter-bar-breadcrumb-item {
  cursor: pointer;
}

.filter-bar-breadcrumb-icon {
  margin-right: 4px;
}
