@use '@/styles/mixins' as *;







 


















  








 


 


 
























































.review-detail-content-detail-section {
  margin-bottom: 12px;
}

.review-detail-content-file-name-row {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.review-detail-content-file-name-deleted {
  color: var(--font-color-grey-1);
}
