@use '@/styles/mixins' as *;































































.user-import-modal-label {
  margin-bottom: 16px;
}

.user-import-modal-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.user-import-modal-meta {
  color: var(--font-color-grey);
}

.user-import-modal-icon {
  padding-left: 16px;
  margin-bottom: 0;
}

.user-import-modal-title {
  margin-bottom: 12px;
}

.user-import-modal-desc {
  margin-top: 12px;
}

.user-import-modal-actions {
  padding-left: 16px;
  margin-bottom: 0;
  max-height: 128px;
  overflow-y: auto;
  font-size: var(--font-size-small);
}

.user-import-modal-toolbar {
  margin-top: 16px;
}
