@use '@/styles/mixins' as *;




















































































































































.file-item-ai-assessment-card {
  margin-left: 28px;
  margin-right: 4px;
  margin-top: 2px;
}

.file-item-ai-assessment-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.file-item-ai-assessment-link {
  color: var(--font-color-grey);
}

.file-item-ai-assessment-label {
  font-size: 12px !important;
  padding-top: 0 !important; padding-bottom: 0 !important;
}

.file-item-ai-assessment-value {
  font-size: 12px;
}

.file-item-ai-assessment-meta {
  font-size: 12px;
}

.file-item-ai-assessment-icon {
  margin-bottom: 0 !important;
  font-size: 12px !important;
}

.file-item-ai-assessment-title {
  color: var(--font-color-grey);
}

.file-item-ai-assessment-desc {
  color: 11px !important;
}
