






















.tooltip-info-demo-root {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.tooltip-info-demo-container {
  cursor: pointer;
  font-weight: 500;
  color: var(--primary-color);
}

.tooltip-info-demo-wrapper {
  cursor: pointer;
}
