

























.login-form-demo-demo-container {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
}




























.forgot-password-form-demo-demo-container {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
}
