@use '@/styles/mixins' as *;



























 
















  






 


































































































.feedback-comment-drawer-empty-state {
  padding: 32px 0;
  text-align: center;
  color: var(--font-color-grey-1);
}
