@use '@/styles/mixins' as *;



























 
















  






 






































































































.columns-title-link {
  color: var(--info-color);
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

.columns-comment-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--info-color);
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }
}

.columns-comment-count {
  font-size: var(--font-size-small);
}
