@use '@/styles/mixins' as *;

 


















  




























  








 


































 




















































































.excellent-case-panel-panel-card {
  margin-top: 16px;
}

.excellent-case-panel-excellent-case-row {
  @include flex-between;
}

.excellent-case-panel-quota-link {
  padding-left: 8px !important;
  padding-right: 8px !important;
  margin-top: 8px !important;
}
