@use '@/styles/mixins' as *;



























 
















  






 


































































































.transfer-button-action-link {
  color: var(--info-color);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;

  &:hover {
    color: var(--primary-color);
  }
}
