@use '@/styles/mixins' as *;

 


















  




























  








 


































 
























































































.folder-tree-folder-tree {
  @include flex-column;
  height: 100%;
}

.folder-tree-search {
  margin-bottom: 8px;
}

.folder-tree-content {
  flex: 1;
  overflow: auto;
}

.folder-tree-search-highlight {
  color: var(--primary-color);
  font-weight: 500;
}

.folder-tree-folder-icon {
  color: var(--file-icon-folder);
  flex-shrink: 0;
}
