@use '@/styles/mixins' as *;































.analytics-section-root {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
  @media (min-width: 1024px) { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}

.analytics-section-container {
  display: block;
}

.analytics-section-wrapper {
  margin-top: 16px;
}
