@use '@/styles/mixins' as *;







 


















  








 


 


 
























































.columns-file-name-cell {
  @include flex-row(8px);
}

.columns-file-name-link {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.columns-file-name-link-deleted {
  color: var(--font-color-grey-1);
}
