@use '@/styles/mixins' as *;

 


















  




























  








 


































 






















































































.effect-stats-panel-panel-card {
  margin-top: 16px;
}

.effect-stats-panel-record-section {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid var(--font-color-grey-4);
}

.effect-stats-panel-record-hint {
  font-size: var(--font-size-small);
  color: var(--font-color-grey);
}

.effect-stats-panel-record-actions {
  margin-top: 8px;
}
