@use '@/styles/mixins' as *;

 


















  




























  








 


































 




















































































.point-breakdown-panel-panel-card {
  margin-top: 16px;
}

.point-breakdown-panel-muted-score {
  color: var(--font-color-grey-1);
}

.point-breakdown-panel-total-score {
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--font-size-large);
}
